<div>

  <h1>Peter Wang WebSite</h1>
  <h2>Wellcome to Peter's personal web site</h2>
  <div>
    <h3>佛</h3>

    <div>喜欢的互联网内容</div>
    <div>
      <a href="https://www.youtube.com/channel/UC_o2dFCIntseFrCFg-IFomw/featured" target="_blank">纯正的佛法</a>
      <div>
        <p>佛教发展至今，在全世界有几亿的佛教徒。然而，这个时代，却被称为末法时代，其原因在于现在流行的各种所谓的法，已经不再是佛陀所说的法了。</p>
        <p>在佛教的发展过程中，很多人按照自己的意愿往佛教理论中加入了很多虚假的内容，或者有意或无意的错误解读了佛经。所以，虽然现在自称为佛教徒的人虽然多，但是却没有多少人能够认识到法的本质，并且依法修行。</p>
        <p>本频道的内容方向是，以常识和逻辑为基础，尽可能的还原2500年前佛陀的佛法理论，让人们在这里认识到佛法的本质，并且依法修行，实现觉醒解脱，远离一切苦厄。</p>
      </div>
    </div>

  </div>
  <div>道</div>
  <div>宗教</div>
  <div>意识</div>
  <div>科学</div>
  <div></div>

</div>
<router-outlet></router-outlet>